# Default ignored files
/shelf/
/workspace.xml
vacancies.csv
vacancies_big.csv
vacancies_medium.csv
vacancies_small.csv
vacancies_dif_currencies.csv
XML_daily.xml
.idea/
venv/
csv_data/
graph.png
report.xlsx
report.pdf 
